body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('/images/background_site.jpeg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

div {
    margin-bottom: 10px;
}